*.o
*.log
*.obj
*.csv

clients
servers
data
/.idea/deployment.xml
/.idea/modules.xml
/.idea/symbios.iml
/.idea/vcs.xml
/.idea/workspace.xml
/cmake-build-debug/*
/.idea/misc.xml
/.idea/other.xml
/cmake-build-debug-remote-host/
/cmake-build-debug/
/.idea/.name
/build/
/hcl/
.*.un~
*~
.clangd/*
/cmake*
